Source: generate-fru-storage
Section: devel
Priority: extra
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 9.20120417~), cmake, libboost-date-time-dev,
               libboost-test-dev, libboost-dev (>= 1.49.0~), clang (>=3.0~)
Standards-Version: 3.9.3
Vcs-Git: https://stash.nscl.msu.edu/scm/utca/generatefrustorage.git
Vcs-Browser: https://stash.nscl.msu.edu/projects/UTCA/repos/generatefrustorage/browse

Package: generate-fru-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Generates the binary content of the IPMI FRU storage area
 This program generates the binary content of the IPMI FRU storage area
 according to
     - IPMI Platform Management FRU Information Storage Definition v1.0
     - PICMG AMC.0 R2.0. Advanced Mezzanine Card Base Specification
     - PICMG MicroTCA.4 R1.0 MicroTCA Enhancements for Rear I/O and Precision
       Timing
 .
 So far only a subset of the above specifications is supported.
 .
 generate-fru-storage is a pure command-line tool which can easily be integrated
 into an automatic build/deployment process.
